@import "./markdown";

* {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: black;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

button, input, textarea {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.main-font {
    font-family: Poppins;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-content: center;
    align-items: center;
}

.border-btm-grey {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.border-top-grey {
    border-top: 1px solid rgb(221, 221, 221);
}

.grey-border {
    border: 1px solid rgb(221, 221, 221);
}

.no-border {
    border: none;
    outline: none;
}

.primary-bg {
    background-color: #1f2937;
}


.white-bg {
    background-color: white;
}

.primary-color-text {
    color: #1f2937;
}

.secondary-color {
    color: #5f57ec;
}

.tertiary-color {
    color: #50abf0;
}

.secondary-bg {
    background-color: #5f57ec;
}

.secondary-bg-light {
    background-color: #edebfe;
}

.no-wrap {
    white-space: nowrap;
}

.horiz-scroll {
    overflow-x: scroll;
}

.white-text {
    color: white;
}

.grey-text-1 {
    color: #f0f0f0;
}

.grey-text-2 {
    color: #e0e0e0;
}

.grey-text-3 {
    color: #d0d0d0;
}

.grey-text-4 {
    color: #c0c0c0;
}

.grey-text-5 {
    color: #b0b0b0;
}

.grey-text-6 {
    color: #6c7280;
}

.p-vertical-md {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-vertical-lg {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-vertical-xl {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-vertical-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}

.active-link {
    background-color: #111827;
    color: white;
}

.p-md {
    padding: 10px;
}

.p-sm {
    padding: 5px;
}

.p-lg {
    padding: 20px;
}

.p-xl {
    padding: 40px;
}

.m-auto {
    margin: auto;
}

.m-md {
    margin: 10px;
}

.m-lg {
    margin: 20px;
}

.m-bottom-sm {
    margin-bottom: 5px;
}

.m-bottom-md {
    margin-bottom: 10px;
}

.m-left-md {
    margin-left: 10px;
}

.m-left-lg {
    margin-left: 20px;
}

.m-top-md {
    margin-top: 10px;
}

.m-bottom-sm {
    margin-bottom: 5px;
}

.m-bottom-lg {
    margin-bottom: 20px;
}

.m-vertical-md {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-vertical-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-bottom-xl {
    margin-bottom: 40px;
}

.m-right-xs {
    margin-right: 3px;
}
.m-right-sm {
    margin-right: 5px;
}
.m-right-md {
    margin-right: 10px;
}
.m-right-lg {
    margin-right: 20px;
}

.p-horiz-sm {
    padding-left: 5px;
    padding-right: 5px;
}

.p-horiz-md {
    padding-left: 10px;
    padding-right: 10px;
}

.p-horiz-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.p-horiz-lg {
    padding-left: 20px;
    padding-right: 20px;
}

.p-horiz-xl {
    padding-left: 40px;
    padding-right: 40px;
}

.rounded-sm {
    border-radius: 5px;
}

.m-horiz-lg {
    margin-left: 20px;
    margin-right: 20px;
}

.m-horiz-md {
    margin-left: 10px;
    margin-right: 10px;
}

.m-horiz-sm {
    margin-left: 5px;
    margin-right: 5px;
}

.hov-shade {
    transition: background-color .1s linear;
}

.hov-shade:hover {
    background-color: #f4f5f7a2;
}

.hov-lighten {
    transition: box-shadow 0.1s linear;
}

.hov-lighten:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
}

.max-w-800 {
    max-width: 800px;
    margin: auto;
}

.constrained-lg {
    flex: 0 1 900px;
    max-width: 900px;
}

.constrained-md {
    flex: 0 1 800px;
    max-width: 800px;
}

.constrained-sm {
    flex: 0 1 700px;
    max-width: 700px;
}

.f-column {
    flex-direction: column;
}

.font-sm {
    font-size: 14px;
}

.font-xs {
    font-size: 12px
}

.font-regular {
    font-size: 17px;
}

.font-md {
    font-size: 20px;
}

.font-lg {
    font-size: 25px;
}


.font-xl {
    font-size: 30px;
}

.bold-6 {
    font-weight: 600;
}

.bold-5 {
    font-weight: 500;
}

.bold-4 {
    font-weight: 400;
}

.bold-3 {
    font-weight: 300;
}

.flex-grow {
    flex: 1 0 0;
}

.no-grow {
    flex: 0 0 0;
}

.shadow-sm {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.shadow-md {
    box-shadow: 0px 10px 15px 0px rgba(157, 106, 106, 0.15);
}

.hov-up {
    transition: transform 0.2s ease-out, box-shadow 0.2s linear;
}

.hov-up:hover {
    transform: translateY(-6px);
    box-shadow: 0px 14px 20px 0px rgba(157, 106, 106, 0.23);
}

.rounded-top-sm {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.align-justify {
    text-align: justify;
}

.letter-space-sm {
    letter-spacing: 2px;
}

.grey-bg-5 {
    background-color: #f4f5f7a2;
}

.grey-bg-4 {
    background-color: #d0d0d0a3;
}

.grey-bg-3 {
    background-color: #a0a6b2;
}

.hov-secondary-color {
    transition: color 0.1s linear;
    cursor: pointer;
}

.hov-secondary-color:hover {
    color: #5f57ec;
}

.hov-error-color {
    transition: color 0.1s linear;
    cursor: pointer;
}

.hov-error-color:hover {
    color: #e21717;
}

.double-height {
    line-height: 2;
}

.fixed {
    position: fixed;
    top: 40%;
    margin-right: 45px;
}

.black-text {
    color: black;
}

.full-width {
    width: 100%;
}

.foc-ring {
    transition: box-shadow .15s linear;
}

.transparent {
    background-color: transparent;
}

.foc-ring:focus {
    box-shadow: 0 0 0 4px #50abf078;
}

.foc-lighten {
    transition: box-shadow .1s linear;
}

.foc-lighten:focus {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}

.lighten {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);   
}

.pointer {
    cursor: pointer;
}

.warning {
    background-color: #fdfdea;
    color: #997554;
}

.error {
    background-color: #fdf2f2;
    color: #c81e1d;
}


.half-width {
    flex-basis: 50%;
    width: 50%;
}

.p-15 {
    padding: 15px;
}

.bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.red-3 {
    color: #f98080
}

.monospace {
    font-family: monospace;
}

.rounded-left-sm {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rounded-right-sm {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rounded-top-sm {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rounded-bottom-sm {
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.full-height {
    height: 100vh;
}
