.markdown h1, .markdown h2, .markdown h3 {
    font-weight: 500;
}

.markdown h2 {
    font-size: 22px;
    margin: 15px 0px;
}

.markdown p {
    line-height: 2;
    color: #6c7280;
    font-size: 16px;
}

.markdown code {
    color: #5f57ec;
    background-color: #f8f8fa;
    padding: 4px;
    border-radius: 5px;
}